@font-face {
    src: url('fonts/MogeeFont-Offset.woff2') format("woff2"),
         url('fonts/MogeeFont-Offset.woff') format("woff");
    font-family: 'MogeeFont-Offset';
    font-style: normal;
    /* font-weight: 250; */
    }

@font-face {
    src: url('fonts/MogeeFont-SquarePixel.woff2') format("woff2"),
        url('fonts/MogeeFont-SquarePixel.woff') format("woff");
    font-family: 'MogeeFont-SquarePixel';
    font-style: normal;
    } 
    
@font-face {
    src: url('fonts/SpaceGrotesk-Medium.woff2') format("woff2"),
        url('fonts/SpaceGrotesk-Medium.woff') format("woff");
    font-family: 'SpaceGrotesk-Medium';
    font-style: normal;
    }  
    
@font-face {
    src: url('fonts/SpaceGrotesk-Regular.woff2') format("woff2"),
        url('fonts/SpaceGrotesk-Regular.woff') format("woff");
    font-family: 'SpaceGrotesk-Regular';
    font-style: normal;
    }  
    
@font-face {
    src: url('fonts/SpaceMono-Italic.ttf') format("ttf");
    font-family: 'SpaceMono-Italic';
    font-style: italic;
    }      

@font-face {
    src: url('fonts/MogeeFontGX.ttf') format("ttf");
    font-family: 'MogeeFontGX';
    font-style: normal;
    font-weight: normal;
    }

html {
    height: 100%;
}

body{
    height: 100%;
    background-color: #161116;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns:
        [first] 1fr 
        [line2] 1fr
        [line3] 1fr
        [line4] 1fr 
        [line5] 1fr 
        [line6] 1fr
        [line7] 1fr 
        [line8] 1fr 
        [line9] 1fr 
        [line10] 1fr 
        [line11] 1fr 
        [line12] 1fr
        [line13] 1fr  
        [end];
    grid-gap: 20px;
    grid-auto-rows: minmax(50px, auto);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    color: white;
    /* background-color: #161116; */
    background-color: #18011E;
    /* background-color: #1E0225; */
    margin-bottom: 50px;
}

h1 {
    font-family: 'MogeeFont-SquarePixel';
    /* color: #5C1B80; */
    /* color: #829DEC; */
    color: #623979;
    /* color: #CDCB2B; */
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

h2 {
    font-family: 'MogeeFont-Offset';
    /* color: #5C1B80; */
    /* color: #829DEC; */
    /* color: #623979; */
    color: #DBE1E9;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    /* margin-top: 20px; */
}


.mogee-header {
    font-family: 'MogeeFont-SquarePixel';
    /* color: #5C1B80; */
    /* color: #829DEC; */
    color: #623979;
    font-size: 96px;
    position: fixed;
    margin-top: 20px;
}

a{
    cursor: pointer;
    color: #537ACC;
    text-decoration: none; 
}

.var {
    font-family: 'MogeeFontGX';
}

.var:hover { 
    animation: change 5000ms infinite;
    color: #829DEC;
}

@keyframes change {
	0% {
		font-variation-settings: 'PIXL' 0;
	}
	60% {
		font-variation-settings: 'PIXL' 500;
	}
	
	100% {
		font-variation-settings: 'PIXL' 1000;
	}
}

a:active {
    color:#CDCB2B;
}

a:hover {
    color: #CDCB2B;
}

.caption {
    font-style: italic; 
    font-size: 17px;
    /* font-family: 'SpaceMono-Italic'; */
}

.img-padding{
    padding: 20px 0;
}

/* MOGEEFONT */
/* header.mogee-header{
    grid-column: line2 / span 1;
    grid-row: 1;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    font-size: 18px;  
} */

p {
    line-height: 1.7;
    /* color: #EBF2F2; */
    /* color: #B4B9BF; */
    color: #DBE1E9;
    font-size: 17px;
}

.text-width{
    grid-column: line2 / 8;
    /* line-height: 1.3; */
}

.intro{
    grid-row: 1 / 2;
    padding-bottom: 20px;
}

.mogee-iframe {
    grid-column: line2 / 8;
    grid-row: 3;
    position: relative;
    padding-bottom: 100%;
    background-color: #000;
}

.mogee-iframe > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.game-caption{
    grid-column-start: line8;
    grid-column-end: line10;
    grid-row: 3;
}

.itch{
    grid-column: line2 / 8;
    grid-row: 4;
    padding-top: 20px;
}

.first-sprite{
    grid-column-start: line8;
    grid-column-end: line12;
    grid-row-start: 4;
    grid-row-end: 6;
}

figure.first-sprite-figure{
    grid-column-start: line8;
    grid-column-end: line12;
    grid-row-start: 4;
    grid-row-end: 6;
}

img.first-sprite-img{
    height: 100%;
    width: 100%;
    min-width: 180px;
}

.sketches{
    grid-row: 5;
}

img.main-img{
    width: 100%;
}

.png-sprite{
    grid-row: 6;
}

.vsc-list-glyphs{
    grid-column-start: line8;
    grid-column-end: line12;
    grid-row-start: 7;
    grid-row-end: 10;
}

.code{
    grid-row: 7;
}

.kerning{
    grid-row: 8;
}

.vsc-code{
    grid-column-start: line8;
    grid-column-end: line12;
    grid-row-start: 9;
    grid-row-end: 12;
}

.elm-package{
    grid-row: 9;
}

.demo{
    grid-row: 10; 
}

.font-test-iframe{
    grid-column-start: line2;
    grid-column-end: line9;
    grid-row: 11;
    position: relative;
    padding-bottom: 50%;
}

.font-test-iframe > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.fin{
    grid-row: 12; 
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .text-width{
        grid-column: line2 / 12;
    }   
}

@media screen and (max-width: 800px) {
    .mogee-iframe {
        grid-column: line2 / 10;
        grid-row: 3;
    }   
    .game-caption{
        grid-column: line2 / 9;
        grid-row: 4;
    }

    .itch{
        grid-column: line2 / 10;
        grid-row: 5;
    }
    
    .first-sprite{
        grid-column: line2 / 10;
        grid-row: 6;
    }
    
    .first-sprite-figure{
        grid-column: line2 / 10;
        grid-row: 6;

    }
    
    img.first-sprite-img{
        height: 100%;
        width: 100%;
        min-width: 180px;
    }
    
    .sketches{
        grid-row: 7;
    }
    
    img.main-img{
        width: 100%;
    }
    
    .png-sprite{
        grid-row: 8;
    }
    
    .vsc-list-glyphs{
        display: none;
    }
    
    .code{
        grid-row: 9;
    }
    
    .kerning{
        grid-row: 10;
    }
    
    .vsc-code{
        grid-row: 11;
    }
    
    .elm-package{
        grid-row: 11;
    }
    
    .demo{
        grid-row: 12; 
    }

    .font-test-iframe{
        grid-column-start: line2;
        grid-column-end: line13;
        grid-row: 13;
        position: relative;
        padding-bottom: 50%;
    }
    
    .fin{
        grid-row: 14;
    }
}

/* ////////video-games */

.title {
    font-family: 'MogeeFont-Offset';
    grid-column: line2 / line11;
    grid-row: 2;
    font-size: 150px;
    color: #829DEC;
    line-height: 0.9;
    height: 100vw;
    /* padding-bottom: 20px; */
}

.mogee-hl {
    font-family: 'MogeeFont-SquarePixel';
}

.purple {
    color: #5C1B80; 
}

.blue {
    color: #0265A9;
}

.about {
    font-family: 'MogeeFont-Offset';
    grid-column-start: line12;
    grid-column-end: line13;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 150px;
    color: #0E28A3;
}

.about .about-content {
    display: none;
}

.about-content {
    position: absolute;
    width: 40vw;
    height: auto;
    padding: 5vw;
    top: 10vw;
    right: 0;
    background-color: #161116;
    font-family: 'Space Mono';
    font-size: 96px;
}

.about:hover {
    color: #5C1B80; 
}

.about:hover .about-content {
    display: block;
}