* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Fjalla_One";
  src: url("fonts/Fjalla_One/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM_Plex_Sans";
  src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM_Plex_Serif";
  src: url("fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf") format("truetype");
}

body {
  font-family: "IBM_Plex_Sans", sans-serif;
  color: black;
  font-size: 17px;
  line-height: 1.5;
}

#tooltipAuth {
  position: absolute;
  visibility: hidden;
  padding-right: 5rem;
  background: #f5f6f7;
  padding: 2rem;
  max-width: 300px;
  white-space: normal;
  border-radius: 4px;
  pointer-events: none;
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 24px;
  text-align: left;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 45.68%;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 0 20vw 2rem 15vw;
}

h1 {
  padding-top: 24rem;
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 90px;
  position: absolute;
  left: 15vw;
  bottom: 20px;
  text-align: start;
  margin: 0;
  line-height: 1.2;
  margin: 5rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 span {
  color: #060857;
}

h2 {
  font-family: "Fjalla_One", sans-serif;
  color: #a57c1b;
  font-size: 40px;
  text-align: start;
  margin: 0;
  font-style: normal;
  padding-left: 2rem;
  padding-top: 2rem;
}

h3 {
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 20px;
  text-align: start;
  margin: 0;
  font-style: normal;
  padding-left: 2rem;
  padding: 5rem 0 0 2rem;
}

#intro {
  padding-top: 6rem;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  text-align: start;
  padding: 0 0 0 10rem;
  max-width: 50rem;
}

section.crowdfunding {
  padding: 0 0 4rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

img.sdj{
  margin-bottom: 50px;
}

figure.collection img {
  display: inline-block;
  align-self: center;
}

figcaption {
  font-size: 14px;
  color: #060857;
  max-width: 400px;
  white-space: normal;
}

.character-image {
  height: 200px;
  float: center;
  padding: 1rem;
}

.Männer {
  color: #0e28ee;
}

.Frauen {
  color: #a57c1b;
}

article {
  position: relative;
  display: flex;
  flex-direction: row;
}

figure {
  margin: 0;
}

#scrolly {
  position: relative;
  text-align: center;
  padding: 0;
}

.white {
  color: white;
}

.zero {
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 120px;
  text-align: left;
  padding: 6rem 5rem;
  margin: 0;
  font-style: bold;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  opacity: 0;
}

.zero span.second {
  font-size: 48px;
  white-space: normal;
  line-height: 1.4;
  margin-left: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.zero.step.is-active {
  animation: fadeInUp 1s ease-in-out 0s forwards;
}

.zero.step.is-active span.first {
  animation-delay: 0.5s;
}

.Jorvik-relative {
  position: relative;
  padding-bottom: 4rem;
}

.Jorvik {
  right: 50px;
  bottom: 7rem;
  position: absolute;
  font-size: 12px;
}

.Jorvik p {
  padding: 1rem 0 0 0;
  max-width: 300px;
}

.Jorvik-flex {
  display: flex;
  flex-direction: column;
}

.mentionStyle {
  width: 40vw;
  margin-left: -8rem;
}

.HonorableMention {
  width: 200px;
  height: 200px;
}

.HonorableMentionWV {
  width: 400px;
  height: 300px;
}

.mentionStyleTwo {
  color: white;
  font-size: 14px;
  width: 200px;
  float: right;
  margin-left: 20px;
  padding: 0px;
}

.mentionWV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4rem;
}

.instruction {
  padding: 0 20vw 0 15vw;
}

.bggCaption {
  position: absolute;
  right: 300px;
  top: 720px;
}

.SDJCaption {
  position: absolute;
  right: 280px;
  top: 360px;
}

p.no-margins {
  margin: 0;
}

p.no-padding {
  padding: 0;
}

.char-h2 {
  background-color: #161116;
  padding: 4rem 0 4rem 15vw;
}

.gallerySvgCharacters {
  max-width: 100vw;
  padding: 0 -20vw 0 -15vw;
  background-color: #161116;
  color: antiquewhite;
  margin-bottom: 0;
}

article {
  position: relative;
  padding: 0 10vw 0 10vw;
}

.SvgCharClass {
  margin-left: 100px;
}

figure.characters {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  width: 40vw;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.characters p {
  position: absolute;
  margin: 0;
  padding: 0 0 0 10rem;
}

.articleChar {
  margin: 0 0 4rem 0;
}

div.step.category {
  width: 500px;
  padding: 0 1rem;
}

.step.category.is-active
  svg#gallerySvgCharM.SvgCharClass
  g
  rect.Nicht_männliche_C {
  fill: #a57c1b;
  transition: fill 1s;
}

.step.category.is-active
  svg#gallerySvgCharW.SvgCharClass
  g
  rect.Nichtweiße_C_Y {
  fill: #a57c1b;
}

.step.category.is-active
  svg#gallerySvgCharW.SvgCharClass
  g
  rect.Nichtweiße_C_G {
  fill: lightgrey;
}

.step.category.is-active
  svg#gallerySvgCharB.SvgCharClass
  g
  rect.Nicht_normschön_Y {
  fill: #a57c1b;
}

.step.category.is-active
  svg#gallerySvgCharB.SvgCharClass
  g
  rect.Nicht_normschön_G {
  fill: lightgrey;
}

.Nicht_männliche_C {
  fill: #0e28ee;
}

.none_Nicht_männliche_C {
  fill: #0e28ee;
}

.Nichtweiße_C_Y {
  fill: #0e28ee;
}

.Nichtweiße_C_G {
  fill: #0e28ee;
}

.Nichtweiße_C_B {
  fill: #0e28ee;
}

.Nicht_normschön_Y {
  fill: #0e28ee;
}

.Nicht_normschön_G {
  fill: #0e28ee;
}

.Nicht_normschön_B {
  fill: #0e28ee;
}

div.game-boxes {
  display: block;
  padding: 2rem 0;
  margin-left: 10vw;
}

div.game-boxes figcaption {
  text-align: left;
}

.images {
  float: left;
}

.step.game-boxes.is-active .greyscale {
  -webkit-filter: url(#grayscale);
  filter: url(#grayscale);
}

.author-ill {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  margin-bottom: 0;
}

.authors {
  padding: 4rem 0;
}

.conclusion {
  background-color: #0c121c;
  color: antiquewhite;
  padding: 0 20vw 0 15vw;
  padding-bottom: 14rem;
}

@media screen and (max-width: 1024px) {
  h1{
    font-size: 60px;
  }

  img.sdj{
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .zero {
    font-size: 90px;
    padding: 4rem;
    margin-bottom: 2rem
  }
  
  .zero span.second {
    font-size: 30px;
    max-width: 500px;
    white-space: normal;
  }

  section {
    padding: 0 10vw 1rem 8vw;
  } 

  aside.Jorvik{
    position: relative;
    padding-top: 4rem;
    padding-left: 8vw;
    
  }

  .Jorvik-flex{
    display: flex;
    flex-direction: row;
  }

  .Jorvik-flex p{
    padding: 0 1.3rem;
  }

  figure.characters p{
    padding: 0;
  }

  article{
    padding: 0 10vw 0 12vw;
  }

  aside.Jorvik.step{
    position: relative;
    padding-top: 4rem;
    padding-left: 18vw;
  }
}