* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Infini";
  src: url("fonts/infini-romain.otf") format("opentype")
  } */

@font-face {
  font-family: "Fjalla_One";
  src: url("fonts/Fjalla_One/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM_Plex_Sans";
  src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM_Plex_Serif";
  src: url("fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf") format("truetype");
}

body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "IBM_Plex_Sans", sans-serif;
  /* font-family: 'IBM_Plex_Serif', serif; */
  color: #060857;
  /* background-color: #060857; */
  font-size: 16px;
  line-height: 1.4;
}

#tooltipAuth {
  position: absolute;
  visibility: hidden;
  padding-right: 5rem;
  background: white;
  max-width: 300px;
  white-space: normal;
  border-radius: 4px;
  pointer-events: none;
  right: 10px;
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 24px;
  text-align: left;

  /* font-family: sans-serif; */
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 0 20vw 2rem 15vw;
}

h1 {
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  -webkit-text-stroke: 0.1px #060857;
  /* text-stroke: .5px #060857; */
  font-size: 90px;
  text-align: start;
  margin: 0;
  line-height: 1.2;
  margin: 5rem 0;
}

h2 {
  /* font-family: 'Infini', sans-serif; */
  font-family: "Fjalla_One", sans-serif;
  color: #a57c1b;
  /* color: #060857; */
  font-size: 40px;
  text-align: start;
  margin: 0;
  font-style: normal;
  padding-left: 2rem;
  padding-top: 2rem;
}

h3 {
  font-family: "Fjalla_One", sans-serif;
  color: #a57c1b;
  /* color: #060857; */
  font-size: 20px;
  text-align: start;
  margin: 0;
  font-style: normal;
  padding-left: 2rem;
}

#intro {
  /* padding: 0 10rem; */
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  text-align: start;
  padding: 5rem 0 0 10rem;
  max-width: 50rem;
}

section.crowdfunding {
  padding: 0 0 4rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

img {
  display: inline-block;
  align-self: center;
}

.character-image {
  height: 200px;
  float: center;
  padding: 1rem;
}

article {
  position: relative;
  display: flex;
  flex-direction: row;
}

figure {
  margin: 0;
}

/* .is-active {
  opacity: 0;
} */

#scrolly {
  position: relative;
  text-align: center;
  padding: 0;
}

.white {
  color: white;
}

.zero {
  font-family: "Fjalla_One", sans-serif;
  color: #060857;
  font-size: 140px;
  text-align: left;
  padding-left: 10rem;
  padding-top: 2rem;
  margin: 0;
  font-style: bold;
  line-height: 1.2;
}

.mentionStyle {
  font-family: "Fjalla_One", sans-serif;
  color: #a57c1b;
  font-size: 24px;
  width: 700px;
  margin-left: -8rem;
}

.mentionStyleTwo {
  font-family: "Fjalla_One", sans-serif;
  color: #a57c1b;
  font-size: 24px;
  width: 700px;
  float: right;
  margin-right: 24rem;
  padding: 0px;
}

/* .mentionPos {
  position: absolute;
  top: 0;
  right: 20px;
} */

.instruction {
  padding: 0 20vw 0 15vw;
}

p.no-margins {
  margin: 0;
}

p.no-padding {
  padding: 0;
}

.char-h2 {
  background-color: #161116;
  padding: 4rem 0 2rem 15vw;
}

.gallerySvgCharacters {
  margin: 0 -20vw 0 -15vw;
  background-color: #161116;
  color: antiquewhite;
  /* display: flex;
  flex-direction: row; */
  padding: 4rem;
  margin-bottom: 0;
}

article {
  position: relative;
  padding: 0 10vw 0 10vw;
  /* max-width: 30vw;
  margin: 0 auto; */
}

.SvgCharClass {
  /* margin-top: 100px; */
  margin-top: 12vh;
  margin-left: 100px;
}

figure.characters {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  width: 40vw;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
}
figure.characters p {
  position: absolute;
  margin: 0;
  padding: 0 0 0 10rem;

  /* top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* font-size: 8rem;
  font-weight: 900; */
  /* color: #fff; */
}

div.step.category {
  /* position: relative; */
  /* float: right; */
  width: 500px;
  /* display: inline-block; */
  padding: 0 1rem;
  /* width: 30vw; */
  /* flex: 1; */
}

figure.game-boxes {
  display: block;
  padding: 2rem 0;
}

.images {
  float: left;
}

/* .mention {
  margin: 0 -20vw 0 -15vw;
  background-color: #161116;
  color: red;
} */

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.author-ill {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  margin-bottom: 0;
}

.authors {
  padding: 1rem;
}

.conclusion {
  background-color: #0c121c;
  color: antiquewhite;
  padding: 0 20vw 0 15vw;
  padding-bottom: 25rem;
  /* padding: 2rem 10rem 10rem 2rem; */
}
